In [1]:
from langchain_community.utilities import SQLDatabase
from langchain_community.llms import Ollama
from langchain_groq import ChatGroq
import ast

In [6]:
maria_uri = 'mysql+mysqlconnector://root:art_llama3@localhost:3306/mme'
db = SQLDatabase.from_uri(maria_uri)

In [19]:
from langchain_community.agent_toolkits import create_sql_agent

llm = ChatGroq(temperature=0, groq_api_key="[token]", model_name="llama3-70b-8192")

# https://python.langchain.com/v0.1/docs/use_cases/sql/agents/
# https://api.python.langchain.com/en/latest/agent_toolkits/langchain_community.agent_toolkits.sql.base.create_sql_agent.html
agent_executor = create_sql_agent(llm, db=db, agent_type="tool-calling", verbose=True)

In [26]:
agent_executor.invoke(
    "Qual foi o estado e o ano que teve o maior consumo em MWh total? Responder o estado, ano e o total MWh"
)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{'tool_input': ''}`


consumo_energia_eletrica, uf
Invoking: `sql_db_schema` with `{'table_names': 'consumo_energia_eletrica, uf'}`



CREATE TABLE consumo_energia_eletrica (
	ano INTEGER(11),
	mes INTEGER(11),
	sigla_uf VARCHAR(255),
	tipo_consumo VARCHAR(255),
	numero_consumidores INTEGER(11),
	`consumo_MWh` FLOAT,
	CONSTRAINT `sigla_uf_FK` FOREIGN KEY(sigla_uf) REFERENCES uf (sigla)
)COLLATE utf8mb4_general_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from consumo_energia_eletrica table:
ano	mes	sigla_uf	tipo_consumo	numero_consumidores	consumo_MWh
2004	1	RO	Residencial	258610	44271.0
2004	1	AC	Residencial	103396	15778.1
2004	1	AM	Residencial	480619	84473.0
*/


CREATE TABLE uf (
	sigla VARCHAR(2) NOT NULL,
	nome_do_estado VARCHAR(255),
	PRIMARY KEY (sigla)
)COLLATE utf8mb4_general_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from uf table:
sigla	nome_do_estado
AC	Acre
AL	Alagoas
AM	Amazonas
*/
Invoking: `sql_db_query` with `{'query': 'SELECT uf.nome_do_estado, ano, SUM(consumo_MWh) as total_MWh FROM consumo_energia_eletrica JOIN uf ON consumo_energia_eletrica.sigla_uf = uf.sigla GROUP BY uf.nome_do_estado, ano ORDER BY total_MWh DESC LIMIT 10'}`


[('São Paulo', 2021, 137268116.125), ('São Paulo', 2014, 136481805.0), ('São Paulo', 2013, 136244333.0), ('São Paulo', 2012, 133742258.0), ('São Paulo', 2019, 132848391.25), ('São Paulo', 2018, 132435031.125), ('São Paulo', 2015, 130814732.0), ('São Paulo', 2011, 130282185.0), ('São Paulo', 2017, 129607077.0), ('São Paulo', 2020, 129224450.0)]The answer is: São Paulo, 2021, 137268116.125

> Finished chain.

{'input': 'Qual foi o estado e o ano que teve o maior consumo em MWh total? Responder o estado, ano e o total MWh',
 'output': 'The answer is: São Paulo, 2021, 137268116.125'}